@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800;900&display=swap');
/* Importamos una fuente de Google llamada 'Barlow'. Esto permite utilizar diferentes estilos 
y grosores de la fuente, facilitando la consistencia tipográfica a lo largo del sitio web.*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}
/* Aquí, eliminamos los márgenes y los rellenos predeterminados de todos los elementos HTML. 
También aplicamos el modelo de caja 'border-box', lo que significa que el padding y el borde 
se incluirán dentro del ancho y alto totales del elemento, lo que facilita el control del diseño. 
Además, establecemos la fuente predeterminada de todo el sitio como 'Barlow'.*/


body{
    background-color: #dde1e9;
}
/* El color de fondo del cuerpo de la página es un tono claro de gris azulado (#dde1e9), 
lo que proporciona un fondo suave y neutral, evitando distracciones y facilitando la lectura 
de contenido superpuesto.*/


/* *********** */
/* SECCIÓN INICIO */
/* *********** */
.inicio {
    height: 100vh;  /* Establece la altura de la sección a 100% de la altura de la ventana */
    background: linear-gradient(rgba(0, 1, 3, 0.5), rgba(0, 0, 0, .7)), url(../../imagenesCodigo/imagenFondo.jpeg);
    /* Aplicar un fondo con un degradado oscuro y una imagen de fondo */
    background-size: cover;  /* Asegura que la imagen de fondo cubra toda la sección */
    background-position: center center;  /* Centra la imagen de fondo */
    color: #fff;  /* Establece el color del texto a blanco */
}

/* Estructura del contenido */
.inicio .info {
    display: flex;  /* Usa flexbox para alinear los elementos en línea */
    justify-content: space-between;  /* Distribuye el espacio entre los elementos */
    gap: 100px;  /* Espacio entre los elementos flexibles */
    align-items: center;  /* Alinea verticalmente al centro */
    height: 100vh;  /* Establece la altura de la sección a 100% de la altura de la ventana */
    padding: 20px;  /* Añade espacio interior alrededor del contenido */
    flex-direction: row;
}

.button {
    background: #0099cc;
    cursor: pointer;
    border: none;
    color: azure;
    border-radius: 12px;
    margin: 10px 0;  /* Añade márgenes verticales entre los botones */
    padding: 10px 15px;  /* Espacio interno dentro de los botones */
    width: 150px;  /* Establece un ancho fijo para los botones */
    text-align: center;  /* Centra el texto dentro de los botones */
}

.button:hover{
    opacity: 0.7;
}

/*SECCION DE BUSQUEDA*/
.seccionBusqueda{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.form-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #000;
    white-space: nowrap;
}

.input-text {
    width: 120px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
}

.table-section {
    margin-top: 20px;
    width: 70%;
    max-height: 200px; 
    overflow-y: scroll;
    border: 1px solid black;  /* Establece un borde negro alrededor de las celdas */
    padding: 5px;  /* Espacio interno en las celdas */
    white-space: nowrap;
}
.table-section th{
    border: 1px solid black;  /* Establece un borde negro alrededor de las celdas */
    padding: 5px;  /* Espacio interno en las celdas */
    white-space: nowrap;
}

/* *********** */
/* RESPONSIVE */
/* *********** */
@media only screen and (max-width: 1200px) {
    /* Ajustes en pantallas pequeñas */
    .inicio .info {
        flex-direction: row;  /* Mantiene la disposición en fila */
        align-items: center;  /* Alinea los elementos en el centro */
        gap: 60px;  /* Espacio entre los elementos */
        width: 100%;  /* Asegura que el contenedor ocupe todo el ancho disponible */
    }
    
    .nav-responsive {
        display: block;  /* Activa la navegación responsiva */
    }
}

@media only screen and (max-width: 700px) {
    /* Ajustes en pantallas muy pequeñas (390px de ancho máximo) */

    .inicio .info {
        flex-direction: column;  /* Cambia la disposición de los elementos a columna */
        align-items: center;  /* Alinea todos los elementos en el centro */
        gap: 10px;  /* Reduce el espacio entre los elementos */
        width: 100%;  /* Asegura que el contenedor ocupe todo el ancho disponible */
        padding: 5px;  /* Ajusta el padding para pantallas pequeñas */
    }

    .inicio .info .img {
        display: none;
    }

    .seccionBusqueda{
        flex-direction: column;
        transform: translate(0,40%);
    }
    
    .table-section{
        transform: translate(20%,0);
        width: 50%;
        overflow-x: hidden;
    }
    
    .info .seccionBotones {
        align-items: center;  /* Centra los botones */
        padding: 5px;  /* Reduce el padding para optimizar el espacio */
        width: 100%;  /* Los botones ocuparán el 100% del ancho disponible */
    }

    .info .seccionBotones .button {
        width: 80%;  /* Los botones ocupan todo el ancho disponible */
        margin: 5px 0;  /* Reduce el margen entre los botones */
        padding: 8px;  /* Ajusta el padding interno de los botones */
        font-size: 0.9em;  /* Reduce el tamaño de la fuente en los botones */
        transform: none;  /* Elimina cualquier transformación aplicada */
    }

    .nav-responsive {
        display: block;  /* Asegura que la navegación responsiva esté visible */
    }


    .button {
        margin: 5px 0;  /* Añade márgenes verticales entre los botones */
        padding: 5px 10px;  /* Espacio interno dentro de los botones */
        width: 100px;  /* Establece un ancho fijo para los botones */
    }
}


