@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;200;400;600;800;900&display=swap');
/* Importamos una fuente de Google llamada 'Barlow'. Esto permite utilizar diferentes estilos 
y grosores de la fuente, facilitando la consistencia tipográfica a lo largo del sitio web.*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow';
}
/* Aquí, eliminamos los márgenes y los rellenos predeterminados de todos los elementos HTML. 
También aplicamos el modelo de caja 'border-box', lo que significa que el padding y el borde 
se incluirán dentro del ancho y alto totales del elemento, lo que facilita el control del diseño. 
Además, establecemos la fuente predeterminada de todo el sitio como 'Barlow'.*/

html{
    scroll-behavior: smooth;
}
/* Esta regla CSS se asegura de que al hacer clic en un enlace que navega a una sección dentro 
de la misma página, la transición sea suave en lugar de saltar directamente a la sección. 
Mejora la experiencia de usuario en sitios con enlaces internos.*/

body{
    background-color: #dde1e9;
}
/* El color de fondo del cuerpo de la página es un tono claro de gris azulado (#dde1e9), 
lo que proporciona un fondo suave y neutral, evitando distracciones y facilitando la lectura 
de contenido superpuesto.*/


/* *********** */
/* SECCIÓN INICIO */
/* *********** */
.inicio {
    height: 100vh;  /* Establece la altura de la sección a 100% de la altura de la ventana */
    background: linear-gradient(rgba(0, 1, 3, 0.5), rgba(0, 0, 0, .7)), url(../../imagenesCodigo/imagenFondo.jpeg);
    /* Aplicar un fondo con un degradado oscuro y una imagen de fondo */
    background-size: cover;  /* Asegura que la imagen de fondo cubra toda la sección */
    background-position: center center;  /* Centra la imagen de fondo */
    color: #fff;  /* Establece el color del texto a blanco */
}

/* Estructura del contenido */
.inicio .info {
    display: flex;  /* Usa flexbox para alinear los elementos en línea */
    justify-content: space-between;  /* Distribuye el espacio entre los elementos */
    gap: 100px;  /* Espacio entre los elementos flexibles */
    align-items: center;  /* Alinea verticalmente al centro */
    height: 100vh;  /* Establece la altura de la sección a 100% de la altura de la ventana */
    padding: 20px;  /* Añade espacio interior alrededor del contenido */
}

/* Imagen del usuario centrada */
.inicio .info .img {
    height: 300px;  /* Establece la altura de la imagen */
    width: auto;  /* El ancho se ajusta automáticamente para mantener la proporción */
    margin: 0 40px;  /* Añade márgenes horizontales para separar la imagen de otros elementos */
    text-align: center;  /* Centra el contenido dentro del elemento de la imagen */
    border-radius: 30%;
}

/* Botones alineados a la derecha */
.info .seccionBotones {
    display: flex;  /* Usa flexbox para alinear los botones en columna */
    flex-direction: column;  /* Coloca los botones en columna */
    align-items: flex-end;  /* Alinea los botones al final del contenedor (derecha) */
    padding: 20px;  /* Añade espacio interior alrededor de la sección de botones */
}

.info .seccionBotones .button {
    margin: 10px 0;  /* Añade márgenes verticales entre los botones */
    padding: 15px 20px;  /* Espacio interno dentro de los botones */
    width: 200px;  /* Establece un ancho fijo para los botones */
    text-align: center;  /* Centra el texto dentro de los botones */
}

.button {
    background: black;
    cursor: pointer;
    border: none;
    color: azure;
    border-radius: 12px;
}

/*SECCION DE BUSQUEDA*/
.seccionBusqueda{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px;
    padding: 10px;
    border: 1px solid #000;
    white-space: nowrap;
}

.input-text {
    width: 120px;
    height: 30px;
    margin: 10px;
    border-radius: 5px;
}

.table-section{
    margin-top: 20px;
    width: 100%;
    max-height: 200px; 
    overflow-y: scroll;
    border: 1px solid black;  /* Establece un borde negro alrededor de las celdas */
    padding: 5px;  /* Espacio interno en las celdas */
    white-space: nowrap;
}

.table-section th{
    border: 1px solid black;  /* Establece un borde negro alrededor de las celdas */
    padding:3px 10px 3px 10px;  /* Espacio interno en las celdas */
    white-space: nowrap;
}

.error-message{
 font-weight: bold;
 color: red;
 font-size: 14px;
 animation: fadeOut 1s ease-in-out 2s forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

/* *********** */
/* RESPONSIVE */
/* *********** */
@media only screen and (max-width: 1350px) {
    /* Ajustes en pantallas pequeñas */
    .inicio .info {
        flex-direction: row;  /* Mantiene la disposición en fila */
        align-items: center;  /* Alinea los elementos en el centro */
        gap: 60px;  /* Espacio entre los elementos */
        width: 100%;  /* Asegura que el contenedor ocupe todo el ancho disponible */
    }

    .inicio .info .img {
        height: 230px;  /* Reduce la altura de la imagen */
        width: auto;  /* El ancho se ajusta automáticamente */
        margin: 20px 0;  /* Ajusta los márgenes verticales */
    }

    .info .seccionBotones {
        align-items: center;  /* Centra los botones */
        padding: 20px;  /* Añade espacio interno */
    }

    .info .seccionBotones .button {
        width: 100%;  /* Ajusta el tamaño de los botones */
        white-space: nowrap;  /* Evita que el texto en los botones se ajuste a múltiples líneas */
        align-items: center;  /* Centra los elementos dentro de la sección de botones */
    }

    .nav-responsive {
        display: block;  /* Activa la navegación responsiva */
    }
    
}

@media only screen and (max-width: 1120px) {
    /* Ajustes en pantallas pequeñas */
    .inicio .info {
        flex-direction: row;  /* Mantiene la disposición en fila */
        align-items: center;  /* Alinea los elementos en el centro */
        gap: 60px;  /* Espacio entre los elementos */
        width: 100%;  /* Asegura que el contenedor ocupe todo el ancho disponible */
    }

    .inicio .info .img {
        display: none;
    }

    .info .seccionBotones {
        align-items: center;  /* Centra los botones */
        padding: 20px;  /* Añade espacio interno */
    }

    .info .seccionBotones .button {
        width: 92%;  /* Ajusta el tamaño de los botones */
        transform: translate(20%, 0);  /* Desplaza los botones a la derecha */
    }

    .nav-responsive {
        display: block;  /* Activa la navegación responsiva */
    }

    .table-section {
        max-height: 150px;
        font-size: 15px;
    }

}

@media only screen and (max-width: 900px) {
    /* Ajustes en pantallas muy pequeñas (390px de ancho máximo) */

    .inicio .info {
        flex-direction: column;  /* Cambia la disposición de los elementos a columna */
        align-items: center;  /* Alinea todos los elementos en el centro */
        gap: 10px;  /* Reduce el espacio entre los elementos */
        width: 100%;  /* Asegura que el contenedor ocupe todo el ancho disponible */
        padding: 5px;  /* Ajusta el padding para pantallas pequeñas */
    }

    .inicio .info .img {
        display: none;
    }

    .info .seccionBotones {
        align-items: center;  /* Centra los botones */
        padding: 5px;  /* Reduce el padding para optimizar el espacio */
        width: 100%;  /* Los botones ocuparán el 100% del ancho disponible */
    }

    .info .seccionBotones .button {
        width: 80%;  /* Los botones ocupan todo el ancho disponible */
        margin: 5px;  /* Reduce el margen entre los botones */
        padding: 0px;  /* Ajusta el padding interno de los botones */
        font-size: 12px;  /* Reduce el tamaño de la fuente en los botones */
        transform: none;  /* Elimina cualquier transformación aplicada */
        height: 20px;
    }

    .nav-responsive {
        display: block;  /* Asegura que la navegación responsiva esté visible */
    }

    .form-section{
        transform: translate(0%,250%);
        font-size: 10px;
    }
    
    .table-section{
        font-size: 12px;
    }

   
}

